                 #header {
                     display: grid;
                     grid-template-columns: 2fr 5fr;
                     background: black;
                     color: white;
                     margin-left: 10px;
                 }
                 
                 svg {
                     height: 1em;
                     margin-left: 20px;
                 }
                 
                 #images {
                     width: 200px;
                     margin-top: 20px;
                     margin-bottom: 20px;
                     margin-left: 20px;
                 }
                 
                 #name {
                     letter-spacing: 0.3em;
                     margin-top: 70px;
                     font-weight: bold;
                 }
                 
                 #web {
                     letter-spacing: 0.2em;
                     margin-top: 30px;
                 }
                 
                 #underline {
                     width: 430px;
                     height: 10px;
                     background: white;
                 }
                 
                 .skills {
                     display: grid;
                     grid-template-columns: 1fr 1fr;
                 }
                 
                 .sameline {
                     display: grid;
                     grid-template-columns: 0.2fr 0.5fr;
                 }
                 
                 #progress-bar {
                     background: white;
                     height: 10px;
                     width: 100px;
                     margin-top: 5px;
                 }
                 
                 #progress {
                     background: gray;
                     height: 10px;
                     width: 80px;
                 }
                 
                 .exp {
                     background: #a6a6a6;
                     padding: 10px;
                     margin-top: 9px;
                 }
                 
                 #wrapper {
                     padding: 0px;
                 }
                 
                 #exp1 {
                     display: grid;
                     grid-template-columns: 1fr 2.5fr 4fr;
                     margin-right: 10px;
                 }
                 
                 p {
                     text-align: justify;
                     margin-right: 50px;
                 }
                 
                 #cont {
                     margin-bottom: 10px;
                     margin-top: 20px;
                 }
                 
                 #ent {
                     margin-top: 0px;
                 }
                 
                 #head {
                     font-weight: bold;
                 }